<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460499335404-6se1v5v9jqc78vv08mkrm78jf01ae8kt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460499335404-6se1v5v9jqc78vv08mkrm78jf01ae8kt</string>
	<key>API_KEY</key>
	<string>AIzaSyB6bKxnhWtitdRlXqZe29Hj3OYjgEaIyTY</string>
	<key>GCM_SENDER_ID</key>
	<string>460499335404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juandozuna.HoneyBits</string>
	<key>PROJECT_ID</key>
	<string>honeybitsapp-1570491292599</string>
	<key>STORAGE_BUCKET</key>
	<string>honeybitsapp-1570491292599.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460499335404:ios:46a22014007eaf1a5d4dc9</string>
	<key>DATABASE_URL</key>
	<string>https://honeybitsapp-1570491292599.firebaseio.com</string>
</dict>
</plist>